.colorCircles {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .colorCircles {
    flex-wrap: wrap;
  }

  .circle {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 10px;
    height: 10px;
  }
}